
@font-face {
  font-family: 'Dual';
  src: local('MyFont'), url(./Dual/Dual-300.otf) format('opentype');
}
@font-face {
  font-family: 'Nauman-Reg';
  src: local('MyFont'), url(./Nauman/Nauman_Regular_Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Nauman-Med';
  src: local('MyFont'), url(./Nauman/Nauman-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Metrisch';
  src: local('MyFont'), url(./Metrisch/FormikaStudioMetrisch/Desktop/Metrisch-Light.otf) format('opentype');
}

span {
  display: block;
}

p {
  text-indent: 50px;
}

.background {
  background-image: url("main4.JPG");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Nauman-Reg, Helvetica, sans-serif;
}

.title {
  background-color: rgba(59, 59, 59, 0);
  /* background-color: rgba(28, 51, 54, 0.9); */
  /* border: 1px solid white; */
  /* color: rgb(221, 221, 221); */
  color: rgb(75, 75, 75);
  font-family: Nauman-Med, Helvetica, sans-serif;
}

  .title-container {
    /* border-right: 1px solid white;
    border-left: 1px solid white; */
    padding: 10px;
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* box-shadow: 20px -10px 25px rgb(42, 42, 42), -20px -10px 25px rgb(42, 42, 42); */
  }

    .title-sub-container {
      /* border: 1px solid black; */
      padding: 10px;
    }

    #linkedInIcon {

    }

      .name {
        font-size: 32px;
        display: block;
        /* border: 1px solid black; */
        /* text-shadow: 2px 2px 5px black; */
      }

      .name-bottom {
        font-size: 16px;
        display: block;
        /* padding-bottom: 10px; */
        /* border: 1px solid black; */
        /* text-shadow: 2px 2px 5px black; */
      }

      .empty-space {
        /* width: 156px; */
        width: 100px;
      }

      .title-sub-container > a {
        font-size: 24px;
        color: rgb(116, 116, 116);
        /* border: 1px solid black; */
      }

.navbar {
  display: flex;
  /* background-color: rgb(209, 209, 209); */
  /* background-color: rgba(128, 128, 128, 0.1); */
  /* background-image: linear-gradient(to bottom right, 
  rgba(255, 187, 0, 0.1), 
  rgba(181, 94, 201, 0.1)); */
  font-size: 16px;
  justify-content: center;
  /* border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      rgba(255, 0, 0, 0.9), 
      rgba(255, 0, 255, 0.9)
    ) 1 stretch; */
}

.navbar a {
  color: black;
  padding: 6px 20px;
  text-decoration: none;
  text-align: center;
  width: 120px;
}

.navbar a:hover {
  background-color: rgba(15, 189, 88, 0.2);/*rgba(164, 230, 139, 0.4);*/
  /* border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255); */
}

.container {
  display: flex;
}

  .sub-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height: 70%;
    width: 540px;
    margin: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }

    .sub-sub-container {

      height: 80%;
      margin: auto;
      color: white;
      background-color: rgba(51, 51, 51, 1);
      padding: 80px 60px;
      font-size: 16px;
      text-shadow: 1px 1px 1px black;
      box-shadow: 5px 5px 10px rgb(42, 42, 42);
    }

      .page-title {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid white;
      }

.footer {
  /* background-color: rgba(165, 165, 165, 0.1);
  border-top: 1px solid rgba(212, 212, 212, 0.4); */
  color: rgb(255, 255, 255);
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* .header {
  padding: 10px;
  text-align: center;
  background: rgb(161, 161, 161);
  color: white;
  font-size: 32px;
}

.firstPic {
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
} */

/* .frame {
  height: 100vh;
  width: 100vw;
  background-color: black;
  white-space: nowrap;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} */

/* img {
  background: #3A6F9A;
  vertical-align: middle;
  height: 100%;
} */

/* .background {
  background-image: url("DSC_0067.JPG");
  height: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 10px;
  text-align: center;
  background: rgb(46, 27, 27);
  color: white;
}

.container {
  display: flex;
  height: 100vw;
  color: white;
  padding: 10px 10px;
}

  .left {
    flex: 58%;
  }

  .right {
    flex: 38%;
  }

    .navbar {
      display: flex;
      background-color: black;
      font-size: 12px;
      justify-content: center;
    }

    .navbar a {
      color: white;
      padding: 12px 20px;
      text-decoration: none;
      text-align: center;
    }

    .navbar a:hover {
      background-color: #ddd;
      color: black;
    } */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
