
@font-face {
  font-family: 'Dual';
  src: local('MyFont'), url(./Dual/Dual-300.otf) format('opentype');
}
@font-face {
  font-family: 'Nauman-Reg';
  src: local('MyFont'), url(./Nauman/Nauman_Regular_Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Nauman-Med';
  src: local('MyFont'), url(./Nauman/Nauman-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Metrisch';
  src: local('MyFont'), url(./Metrisch/FormikaStudioMetrisch/Desktop/Metrisch-Light.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

span {
  display: block;
}

a {
  outline: 0;
}

.background {
  background-color: rgb(44, 44, 44);
  
  background-image: linear-gradient(to bottom right, 
  rgba(105, 105, 105, 0.4), 
  rgba(27, 27, 27, 0.4));
  /* height: 2400px; */
  font-family: Nauman-Reg, Helvetica, sans-serif;
  /* position: relative;
  z-index: -2; */
}

/* HEADER */

.title {
  position: relative;
  background-color: rgba(218, 218, 218, 0);
  /* padding: 40px; */
  height: 160px;
    background-image: linear-gradient(to bottom right, 
  rgba(105, 105, 105, 0.4), 
  rgba(27, 27, 27, 0.4));
  border: 1px solid black;
  
}

  .title-container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: rgb(54, 54, 54); */
    color: white;
    /* border: 1px solid black; */
    /* z-index: -1; */
  }

    .title-sub-container {
      padding: 10px;
      /* border: 1px solid black; */
    }

    #left-side {
      display: flex;
      flex-direction: column;
      /* border: 1px solid black; */
    }

    #right-side {
      display: flex;
      flex-direction: row;
      /* border: 1px solid black; */
    }

      .name {
        font-size: 32px;
        display: block;
        /* border: 1px solid black; */
      }

      .name-bottom {
        font-size: 16px;
        text-align: right;
        /* border: 1px solid black; */
      }

      .empty-space {
        /* width: 156px; */
        width: 20px;
        /* border: 1px solid black; */
      }

      .title-sub-container > a {
        font-size: 24px;
        color: rgb(116, 116, 116);
        /* border: 1px solid black; */
      }

      .title-sub-container > a:hover {
        font-size: 24px;
        color: rgb(255, 255, 255);
        /* z-index: -1; */
        /* border: 1px solid black; */
      }

      .tooltip {
        position: relative;
        display: inline-block;
        font-size: 14px;
        /* z-index: 20; */
        /* border-bottom: 1px dotted black; */
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        /* z-index: 20; */
        top: 150%;
        left: 50%;
        margin-left: -60px;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
        /* z-index: 20; */
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        /* z-index: 20; */
      }

/* MENU */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  /* z-index: -1; */
  background-color: rgb(214, 214, 214);
  /* background-image: linear-gradient(to bottom right, 
  rgba(255, 187, 0, 0.1), 
  rgba(181, 94, 201, 0.1)); */
  font-size: 12px;
  justify-content: center;
  /* border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      rgba(255, 0, 0, 0.4), 
      rgba(255, 0, 255, 0.4)
    ) 1 stretch; */
  /* border: 1px solid black; */
  box-shadow: 20px -10px 25px rgb(42, 42, 42), -20px -10px 25px rgb(42, 42, 42);
}

  .navbar a {
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    text-align: center;
    width: 120px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    /* border: 1px solid black; */
  }

    .navbar span {
      display: inline-block;
    }

      .navbar a:hover{
        background-color: rgba(15, 189, 88, 0.2);
        width: 120px;
      }

      .dropbtn {
        display: inline-block;
        /*background-color: #5a5a5a;*/
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 10px 25px;
        z-index: 20;
      }

      .dropdown:hover .dropbtn {
          background-color: #444444;
          z-index: 20;
          /* cursor: default; */
      }

        .dropdown {
            display: inline-block;
            color: black;
            padding: 8px 20px;
            text-decoration: none;
            text-align: center;
            width: 120px;
            z-index: 20;
        }

          .dropdown-content {
              display: none;
              position: absolute;
              top: 30px;
              background-color: #f9f9f9;
              width: auto;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 20;
          }

            .dropdown-content a {
                background-color: white;
                color: black;
                /* padding: 8px 16px; */
                text-decoration: none;
                display: block;
                text-align: left;
                font-size: 12px;
                width: auto;
                z-index: 20;
            }

            .dropdown-content a:hover {
              width: auto;
              background-color: rgba(15, 189, 88, 0.2);
              /* cursor: pointer; */
            }

            .dropdown:hover .dropdown-content {
                display: block;
                /* cursor: pointer; */
                /* background-color: rgba(15, 189, 88, 0.2); */
            }

/* SLIDESHOW */

/* .fadein img {
  position: absolute;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}

  @-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
  }
  @keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
  }

    #f1 {
      width: 100%;
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #f2 {
      -webkit-animation-delay: -8s;
      width: 100%;
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #f3 {
      -webkit-animation-delay: -4s;
      width: 100%;
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } */

/* MAIN CONTENT */

#f1 {
  background-image: url("main2.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 69vh;
  /* position: relative; */
  /* z-index: -1; */
  /* bottom: 39px; */
}

.main-container {
  background-color: rgb(211, 211, 211);
  display: block;
  color: rgb(0, 0, 0);
  width: 800px;
  margin: auto;
  padding: 0px 0px 40px 0px;
  font-size: 14px;
  /* border: 1px solid black; */
  box-shadow: 5px 10px 18px #161616;
}

.black-bar {
  height: 40px;
  /* background-color: rgb(40, 40, 40); */
    /* background-image: linear-gradient(to bottom right, 
  rgba(155, 124, 165, 0.4), 
  rgba(27, 27, 27, 0.4)); */
  
}

  .sub-container {
    padding: 20px;
    display: flex;
    /* border: 1px solid blue; */
  }

    .sub-sub-container {
      color: white;
      padding: 20px;
      /* width: 200px; */
      /* margin: auto; */
      /* border: 1px solid blue; */
    }

      .pictureText {
        padding: 0px 80px;
        display: flex;
        /* border: 1px solid blue; */
      }

  .section-title {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    width: 100%;
    margin: auto;
    /* box-shadow: 1px 1px 5px #3a3a3a; */
    background-color: rgb(44, 44, 44);
    /* background-image: linear-gradient(to bottom right, 
    rgb(75, 75, 75), 
    rgb(63, 63, 63)); */
    color: rgb(207, 207, 207);
    /* border: 1px solid black; */
  }

  #headshot {
    height: 150px;
    width: auto;
    /* padding: 20px 20px; */
    /* border: 1px solid black; */
  }

  .bio {
    display: inline-block;
    text-indent: 50px;
    padding: 0px 80px;
    padding-bottom: 20px;
    /* padding: 20px; */
    /* border: 1px solid black; */
  }

  .bio2 {
    display: inline-block;
    /* text-indent: 50px; */
    padding-left: 20px;
    /* padding: 20px; */
    /* border: 1px solid black; */
  }

  #medmal-logo {
    height: 83px;
    width: auto;
    padding: 20px 0px;
    /* border: 1px solid black; */
  }

  #fsu-logo {
    height: 154px;
    width: auto;
    /* padding: 0px 0px; */
    /* border: 1px solid black; */
  }

    .skillsTable {
      width: 600px;
      margin: auto;
      padding: 20px;
      background-color: rgb(59, 59, 59);
      background-image: linear-gradient(to bottom right, 
      rgba(73, 73, 73, 0.4), 
      rgba(0, 0, 0, 0.4));
    }

      .columnone {
        width: 20px;
        /* border: 1px solid black; */
        padding-left: 15px;
      }

      .columnone img {
        width: 20px;
      }

      .columntwo {
        width: 80px;
        color: white;
        font-size: 14px;
        /* border: 1px solid black; */
      }

      .columnthree {
        width: 40px;
        /* border: 1px solid black; */
      }

      .fa-star {
        font-size: 10px;
        color: yellow;
      }

/*QUICKQUOTE*/

.table-container {
  padding-bottom: 40px;
}

  .stackTable {
    /* width: 640px; */
    border-collapse: collapse;
    margin: auto;
    padding: 20px 10px 40px 10px;
    font-size: 12px;
    color: white;
    background-color: rgb(59, 59, 59);
    background-image: linear-gradient(to bottom right, 
    rgba(73, 73, 73, 0.4), 
    rgba(0, 0, 0, 0.4));
  }

    .table-header {
      font-size: 12px;
      background-color: rgb(26, 26, 26);
      padding: 3px;

    }

    .colone {
      width: 90px;
      /* border: 1px solid black; */
      padding: 0px 0px 0px 15px;
    }

    .coltwo {
      width: 110px;
      color: white;
      padding: 2px 0px 2px 0px;
      /* border: 1px solid black; */
    }

    .colthree {
      width: 420px;
      padding: 2px 0px 2px 0px;
      /* border: 1px solid black; */
    }

/*CODE*/

.code-box {
  background-color: rgb(59, 59, 59);
  color: white;
  font-size: 12px;
}

.footer {
  position: relative;
  font-size: 12px;
  text-align: center;
  color: white;
  padding: 20px;
  /* margin-top: -180px; */
  /* negative value of footer height */
  /* height: 180px; */
  clear: both;
  background-color: rgb(27, 27, 27);
  font-family: Nauman-Reg, Helvetica, sans-serif;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  background-color: rgb(27, 27, 27);
  font-family: Nauman-Reg, Helvetica, sans-serif;
}