
@font-face {
  font-family: 'Nauman-Reg';
  src: local('MyFont'), url(./Nauman/Nauman_Regular_Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Nauman-Med';
  src: local('MyFont'), url(./Nauman/Nauman-Medium.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

span {
  display: block;
}

a {
  outline: 0;
}

.background {
  background-color: rgb(44, 44, 44);
  
  background-image: linear-gradient(to bottom right, 
  rgba(105, 105, 105, 0.4), 
  rgba(27, 27, 27, 0.4));
  font-family: Nauman-Med, Helvetica, sans-serif;
}

.background2 {
  background-color: rgb(44, 44, 44);
  
  background-image: linear-gradient(to bottom right, 
  rgba(105, 105, 105, 0.4), 
  rgba(27, 27, 27, 0.4));
  height: 100vh;
  font-family: Nauman-Med, Helvetica, sans-serif;
}

/* HEADER */

.title1 {
  position: relative;
  background-color: rgba(218, 218, 218, 0);
  height: 100px;
    background-image: linear-gradient(to bottom right, 
  rgba(105, 105, 105, 0.4), 
  rgba(27, 27, 27, 0.4));
  
}

  .title1-container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
  }

    .title1-sub-container {
      padding: 10px;
    }

    #left-side {
      min-width: 540px;
    }

    #right-side {
      display: inline;
      padding: 10px;
      min-width: 150px;
    }

      .name {
        font-size: 36px;
        display: inline;
        padding-left: 20px;
      }

      .name-bottom {
        font-size: 16px;
        display: inline;
        padding-left: 10px;
      }

      #linkedIn {
        display: inline-block;
        padding: 10px;
      }

      #gitHub {
        display: inline-block;
        padding: 10px;
      }

      .title1-sub-container > a {
        font-size: 24px;
        color: rgb(146, 146, 146);
      }

      .title1-sub-container > a:hover {
        font-size: 24px;
        color: rgb(255, 255, 255);
      }

/* MENU */

.navbar1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  background-color: rgba(235, 235, 235, 0.85);
  font-size: 12px;
  justify-content: center;
  z-index: 15;
  box-shadow: 20px -10px 25px rgb(42, 42, 42), -20px -10px 25px rgb(42, 42, 42);
}

  .navbar1 a {
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
  }

    .navbar1 span {
      display: inline-block;
    }

      .navbar1 a:hover{
        background-color: rgba(128, 209, 204, 0.2);
        width: 200px;
        animation: 0.4s multicolor;
      }

      @keyframes multicolor {
        0% {
          background-color: rgba(128, 209, 204, 0.6);
        }
        100% {
          background-color: rgba(128, 209, 204, 0.2);
        }
    }

      .dropbtn1 {
        display: inline-block;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 10px 25px;
        z-index: 20;
      }

      .dropdown1:hover .dropbtn1 {
          background-color: #444444;
          z-index: 20;
      }

        .dropdown1 {
            display: inline-block;
            color: black;
            padding: 8px 20px;
            text-decoration: none;
            text-align: center;
            width: 200px;
            z-index: 20;
        }

          .dropdown1-content {
              display: none;
              position: absolute;
              top: 32px;
              background-color: #f9f9f9;
              width: auto;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 20;
          }

            .dropdown1-content a {
                background-color: white;
                color: black;
                text-decoration: none;
                display: block;
                text-align: left;
                font-size: 12px;
                width: auto;
                z-index: 20;
            }

            .dropdown1-content a:hover {
              width: auto;
              background-color: rgba(128, 209, 204, 0.2);
            }

            .dropdown1:hover .dropdown1-content {
                display: block;
            }

/* SLIDESHOW */

.fadein img {
  position: absolute;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  height: 34vh;
  object-fit: cover;
  z-index: 10;
  opacity: 0;
}

  @-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
  }
  @keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
  }


    #g1 {
      animation-delay: 8s;
      -webkit-animation-delay: 8s;
      width: 100%;
    }
    #g2 {
      animation-delay: 4s;
      -webkit-animation-delay: 4s;
      width: 100%;
    }
    #g3 {
      animation-delay: 0s;
      -webkit-animation-delay: 0s;
      width: 100%;
    }

    .slideshow-box {
      height: 34vh;
    }


/* MAIN CONTENT */


.main-container {
  background-color: rgb(211, 211, 211);
  display: block;
  color: rgb(0, 0, 0);
  width: 800px;
  margin: auto;
  padding: 0px 0px 40px 0px;
  font-size: 14px;
  box-shadow: 5px 10px 18px #161616;
}

.black-bar {
  height: 20px;
}

  .sub-container {
    padding: 20px;
    display: flex;
  }

    .sub-sub-container {
      color: white;
      padding: 20px;
    }

      .pictureText {
        padding: 0px 80px;
        display: flex;
      }

  .section-title {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: rgb(44, 44, 44);
    color: rgb(207, 207, 207);
  }

  #headshot {
    height: 150px;
    width: auto;
  }

  .bio {
    display: inline-block;
    text-indent: 50px;
    padding: 0px 80px;
    padding-bottom: 20px;
  }

  .bio2 {
    display: inline-block;
    padding-left: 20px;
  }

  #medmal-logo {
    height: 83px;
    width: auto;
  }

  #fsu-logo {
    height: 154px;
    width: auto;
  }


/*QUICKQUOTE*/


.table-container {
  padding-bottom: 40px;
}

  .stackTable {
    border-collapse: collapse;
    margin: auto;
    padding: 20px 10px 40px 10px;
    font-size: 12px;
    color: white;
    background-color: rgb(59, 59, 59);
    background-image: linear-gradient(to bottom right, 
    rgba(73, 73, 73, 0.4), 
    rgba(0, 0, 0, 0.4));
  }

    .table-header {
      font-size: 12px;
      background-color: rgb(26, 26, 26);
      padding: 3px;

    }

    .colone {
      width: 90px;
      padding: 0px 0px 0px 15px;
    }

    .coltwo {
      width: 110px;
      color: white;
      padding: 2px 0px 2px 0px;
    }

    .colthree {
      width: 420px;
      padding: 2px 0px 2px 0px;
    }

      .zoom {
        height: 200px;
        margin: 20px;
        transition: transform .2s;
      }

      .zoom2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding: 20px 0px;
        transition: transform .2s;
      }
      
      .zoom:hover {
        -ms-transform: scale(3); /* IE 9 */
        -webkit-transform: scale(3); /* Safari 3-8 */
        transform: scale(3); 
      }

      .zoom2:hover {
        -ms-transform: scale(2); /* IE 9 */
        -webkit-transform: scale(2); /* Safari 3-8 */
        transform: scale(2); 
      }

      .full-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding: 20px 0px;
      }

      .bio3 {
        padding: 20px 20px;
      }

        .hover-caption {
          display: block;
          font-size: 12px;
          text-align: center;
        }

        .github-link {
          color: rgb(207, 207, 207);
          text-decoration: none;
        }

        .github-link:hover {
          color: rgb(76, 184, 150);
          text-decoration: none;
        }

        .logo1 {
          height: 120px;
          width: auto;
          margin-right: 20px;
          margin-top: 40px;
          margin-bottom: 20px;
        }

        .logo2 {
          height: 115px;
          width: auto;
          margin-right: 20px;
          margin-top: 50px;
          margin-bottom: 80px;
        }

        .logo3 {
          height: 72px;
          width: auto;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 40px;
        }

.scroll-top {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(102, 100, 100, 0.85);
  border: none;
  cursor: pointer;
  font-size: 14px;
  z-index: 10;
  margin: 70px 20px;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(26, 26, 26);
  bottom: 0px;
  transition: bottom .4s;
}

.hide{
  bottom: -140px;
}

.scroll-top:hover {
  background-color: rgba(57, 143, 134, 0.85);
}

.scroll-top-text {
  color: white;
}

.footer {
  position: relative;
  font-size: 12px;
  text-align: center;
  color: white;
  padding: 20px;
  clear: both;
  background-color: rgb(27, 27, 27);
  font-family: Nauman-Med, Helvetica, sans-serif;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  background-color: rgb(27, 27, 27);
  font-family: Nauman-Med, Helvetica, sans-serif;
}

.item img {
  height: 34vh;
  object-fit: cover;
}